.container {
    background-color: black;
}

.box div {
    height: 60px;
    font-size: 25px;
    position: relative;
    text-transform: uppercase;
    margin: 20px;
    padding: 10px 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* ---------------------- Style 1 -------------------------- */

.box div {
    padding: 10px 40px;
    border-radius: 50px;
    background-color: #fff;
    z-index: 10;
    color: #0f2027;
}

.box div::before,
.box div:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: #fff;
    opacity: 1;
    transition: all 0.5s cubic-bezier(0.075, 0.81, 0.165, 1);
    border-radius: 50px;
    z-index: -1;
}

/* On hover the sudo before and after elements are scaled 1.5 times with opacity changed from 1 to 0 */
.box div:hover:before,
.box div:hover:after {
    opacity: 0;
    transform: scale(1.5);
}