div {
    display: flex;
    display: -ms-flexbox;
    display: -moz-flexbox;
    display: -o-flexbox;
    display: -webkit-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    text-align: center;
    vertical-align: middle;
    font-size: xx-large;
    }
    div>div {
    width: 100px;
    height: 100px;
    width: -ms-flex;
    width: -moz-flex;
    width: -o-flex;
    width: -webkit-flex;
    margin: 5px;
    
    
    
    }

.enabled{
    background-color: red;
}

.disabled{
    background-color: #2e2c36;
    border-width: 4px;
    border: #d9ec06;
    
}